.input{
  display: flex;
  flex: 0 1 40px;
  width: 100%;
  height: 40px;
  text-indent: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  font-family: AleoRegular;
  transition: all 0.3s ease;
  &::placeholder{
    text-align: center;
    font-size: 13px;
  }
  &:focus{
    outline: none;
    border-bottom: 2px solid black;
  }
}