.button{
  display: flex;
  padding: 15px 55px;
  justify-content: center;
  color: white;
  font-family: AleoBold;
  justify-self: center;
  max-width: 340px;
  font-size: 13px;
  letter-spacing: 2px;
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &--submit{
    background-color: #a83a5e;
    width: 100%;
    max-width: unset;
    -webkit-tap-highlight-color: rgba(255, 176, 181, 0.3);
  }
  &:focus, &:active{
    outline: none;
    box-shadow: none;
  }
  &:disabled{
    background: #612333;
    color: #898989;
  }
}

@media (max-width: 812px){
  .button {
    font-size: 0.7rem;
    padding: 7px 35px;
    max-width: 240px;
    &--submit{
      max-width: unset;
    }
  }
}