body{
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
}

body, #root {
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: url("../assets/backgroundJMR.png") no-repeat;
  background-size:cover;
  box-shadow: inset 0 300px 300px -81px rgba(0,0,0,0.55);
}

@font-face {
  font-family: AleoRegular;
  src: url("./fonts/Aleo-Regular.otf") format("opentype");
}

@font-face {
  font-family: AleoBold;
  src: url("./fonts/Aleo-Bold.otf") format("opentype");
}

@font-face {
  font-family: Bakery;
  src: url("./fonts/bakery.otf") format("opentype");
}