.landing__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 45px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 812px) {
  margin-bottom: 445px;
}