
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 365px;
  padding: 40px;
  box-sizing: border-box;
  background: white;
  &__title {
    display: flex;
    font-family: AleoRegular;
    font-size: 1rem;
    margin-bottom: 35px;
  }
  &__form-button {
    margin-top: 20px;
  }

}