header, ul, li, svg { display: flex; }
.JMR__header{
  display: flex;
  padding-left: 45px;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  height: 60px;
  margin-top: 40px;
  font-family: AleoRegular;
  font-size: 1.1rem;
  font-weight: normal;
  color: white;
  a { color: white }

  &-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    &:first-of-type{
      order: 1;
    }
    &:last-of-type{
      order: 3;
    }
    &-item{
      padding: 0 40px;
    }
  }
  &-logo{
    &--desktop{
      order: 2;
      display: flex;
    }
    &--mobile{
      display: none;
    }
  }

}

@media (min-width: 601px) and (max-width: 812px) {
  .JMR__header{
    padding-left: 45px;
    &-list{
      &-item{
        padding: 0 10px;
      }
    }
    &-logo{
      margin: 0 10px;
      &--desktop{
        display: flex;
      }
      &--mobile{
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .JMR__header{
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: flex-start;
    height: auto;
    &-list {
      display: flex;
      opacity: 0;
      margin-top: -400px;
      flex-direction: column;
      padding-left: 10px;
      transition: all 2s ease-out;
      &--collapsed{
        display: flex;
        opacity: 1;
        margin-top: 0;
      }
      &:first-of-type {
        flex-shrink: 0;
        order: 2;
      }
      &:last-of-type {
        flex-shrink: 0;
        order: 3;
      }
      &-item{
        padding: 20px 0;
        width: 100%;
      }
    }
    &-logo{
      align-self: center;
      margin-left: 100px;
      &--desktop{
        display: none;
      }
      &--mobile{
        display: flex;
        min-width: 30px;
        flex-shrink: 0;
        order: 1;
        cursor: pointer;
      }
    }
  }
}
