a{
  text-decoration: none;
  color: #b7b7b7;
}

.JMR__footer-wrapper{
  display: flex;
  position: fixed;
  align-self: flex-end;
  bottom:0;
  justify-content: center;
  width: 100%;
  height: 45px;
  background-color: rgba(0,0,0, 0.42);
}

.JMR__footer{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  font-family: AleoRegular;
  font-weight: bold;
  &-pipe{
    display: flex;
    align-self: center;
    padding: 8px;
    &:after{
      display: flex;
      content: "|";
      color:  #b7b7b7;
    }
  }
  &-item{
    display: flex;
    align-items: center;
    color: #b7b7b7;
    letter-spacing: 1.5px;
    justify-content: center;
    &--center{
      display: flex;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: calc(100% - 60px);
    }
    &-link{
      display: flex;
      align-self: center;
      letter-spacing: 2px;
      &--bold{
        font-family: AleoBold;
        padding-left: 3px;
        color: white;
        letter-spacing: 2px;
      }
    }
  }
}

@media (max-width: 812px){

  .JMR__footer-wrapper{
    height: auto;
  }
  .JMR__footer{
    flex-direction: column;
    &-item{
      width: 100%;
      height: 40px;
      &--center{
        display: flex;
        align-self: center;
        position: relative;
        margin-left: 0;
        transform: translateX(0);
      }
    }
  }
}
