.HeadingText{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-family: Bakery;
  font-size: 12rem;
  color: white;
}

@media (min-width: 813px) and (max-width: 1100px){
  .HeadingText {
    font-size: 6rem;
  }
}
@media (max-width: 812px){
  .HeadingText {
    font-size: 3rem;
  }
}